{% extends "base.html" %}

{% block title %}Planner{% endblock %}

{% block content %}

<div class="toolbar">
    <div class="toolbar-left">
        <div class="date-picker-wrapper">
            <label for="startDate">📅 Data startowa</label>
            <input type="text" id="startDate" class="modern-date-input">
        </div>
    </div>

    <div class="toolbar-center">
        <div class="tabs" id="personTabs">
            <div class="tab active" onclick="Planner.setPerson('osoba1', this)">Dawid</div>
            <div class="tab" onclick="Planner.setPerson('osoba2', this)">Kasia</div>
        </div>
    </div>

    <div class="toolbar-spacer">
        <button id="savePlannerBtn" class="btn animate-btn" style="display:none; margin-right:15px;"
            onclick="Planner.manualSave()">
            💾 Zapisz
        </button>
        <div class="mode-toggle">

            <div class="mode-indicator"></div>

            <button class="mode-btn active" data-mode="preview" onclick="Planner.setMode(false, this)">
                Podgląd
            </button>

            <button class="mode-btn" data-mode="edit" onclick="Planner.setMode(true, this)">
                Edycja
            </button>
        </div>
    </div>
</div>

<!-- Nowoczesna tabelka jako grid -->
<div class="planner-grid" id="plannerGrid"></div>

<!-- <script src="{{ url_for('static', filename='js/shared/mealModal.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/dishes.js') }}"></script>
<script src="{{ url_for('static', filename='js/planner.js') }}"></script>

{% endblock %}