{% extends "base.html" %}
{% block title %}Lista zakupów{% endblock %}

{% block content %}

<div class="toolbar">
    <div class="toolbar-left">

        <div class="date-range-wrapper">

            <div class="date-picker-wrapper">
                <label for="shoppingStartDate">📅 Od</label>
                <input type="text" id="shoppingStartDate" class="modern-date-input">
            </div>

            <div class="date-picker-wrapper">
                <label for="shoppingEndDate">📅 Do</label>
                <input type="text" id="shoppingEndDate" class="modern-date-input">
            </div>

        </div>
    </div>

    <div class="toolbar-center">
        <div class="button-toolbar">
            <button onclick="Shopping.resetList()" class="btn animate-btn">
                <span class="refresh-icon">↻</span>
                Odśwież listę
            </button>

            <button id="undoButton" onclick="Shopping.undoLastRemoval()" class="undo-btn hidden" style="display:none">
            </button>
        </div>
    </div>
    <div class="toolbar-spacer">
        <button onclick="Shopping.copyNameAndQuantity()" class="btn animate-btn">
            📋 Kopiuj Nazwa + Ilość
        </button>
    </div>
</div>

<table class="shopping-table">
    <thead>
        <tr>
            <th></th>
            <th data-key="name" onclick="Shopping.sortTable('name')">
                Nazwa <span class="sort-icon">▲▼</span>
            </th>

            <th data-key="ilosc" onclick="Shopping.sortTable('ilosc')">
                Ilość <span class="sort-icon">▲▼</span>
            </th>

            <th data-key="dzial_w_sklepie" onclick="Shopping.sortTable('dzial_w_sklepie')">
                Dział <span class="sort-icon">▲▼</span>
            </th>

            <th data-key="czy_w_lodowce" onclick="Shopping.sortTable('czy_w_lodowce')">
                Lodówka <span class="sort-icon">▲▼</span>
            </th>
        </tr>
    </thead>
    <tbody id="shoppingBody"></tbody>
</table>

<script src="{{ url_for('static', filename='js/shopping.js') }}"></script>

{% endblock %}